html, body {
    margin: 0;
    padding: 0;
    background-color:rgba(247, 131, 148, 0.493);
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}
  